@media only screen and (max-width: 600px) {
  /* Main css */

  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .main h1 {
    color: white;
    font-size: 5rem;
    margin: 0;
    text-align: center;
  }
  .hero-text {
    color: white;
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
  }
  .hero-page {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .slick-prev {
    left: 10px;
    top: 49%;
    height: 20px;
    width: fit-content;
    transform: translateY(-50%);
    border: 0;
    z-index: 1024;
  }

  .slick-next {
    position: absolute;
    height: 20px;
    width: fit-content;
    top: 49%;
    right: 10px;
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1024;
    color: white;
  }

  /* Translucent background for text content */
  .translucent-background {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
  }

  .translucent-background h1,
  .translucent-background p {
    margin: 0;
    color: white;
    text-align: center;
  }
  /*Services */
  .services {
    background-color: white;
    padding: 109px 0;
    font-family: Fira Sans;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .services h3 {
    font-size: 32px;
    color: #474747;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: table;
    margin: 0 auto;
    z-index: 1;
  }

  .card-main {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 56px;
    padding-top: 72px;
    width: 90%;
  }

  /* RECOMMENDED */
  .bg-img {
    overflow: hidden;
    position: relative;
    width: 100vw;
  }
  .bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .recommend h3 {
    font-size: 32px;
    padding-bottom: 40px;
    text-align: center;
    color: white;
  }

  .recommend-cards {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 40px;
  }

  /*Hexgon*/
  .pharma-header h3 {
    padding-top: 70px;
    font-size: 32px;
    color: #474747;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: table;
    margin: 0 auto;
    z-index: 1;
  }

  .hexagon-container {
    padding-top: 44px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 90%;
    margin: auto;
  }

  .hexagon {
    position: relative;
    width: 90%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
    margin: 20px 0;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: inherit;
      clip-path: inherit;
    }

    &::before {
      top: -135px;
    }

    &::after {
      bottom: -135px;
    }
  }

  .hexagon img {
    width: 80px;
    height: auto;
    margin: 16px auto;
    display: table;
  }

  .hexagon h4 {
    text-align: center;
    font-size: 32px;
    color: #029696;
    font-weight: 600;
  }

  .hexagon h5 {
    font-size: 16px;
    color: black;
    margin: 0;
    margin-top: 5px;
    text-align: center;
  }
  .company-slider-reverse {
    direction: rtl;
  }

  .PharmaNum h3 {
    padding-top: 70px;
    font-size: 32px;
    color: #474747;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: table;
    margin: 0 auto;
    z-index: 1;
  }

  .PharmaNum h3:before {
    position: absolute;
    content: "";
    background: transparent
      linear-gradient(127deg, #029696 0%, #0253aa 49%, #a12ea5 100%) 0% 0%
      no-repeat padding-box;
    width: 100%;
    height: 8px;
    bottom: 0px;
    z-index: -1;
    border-radius: 20px;
    opacity: 0.7;
  }
  .pharma-header h3 {
    padding-top: 70px;

    color: #474747;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: table;
    margin: 0 auto;
    z-index: 1;
  }
  .pharma-header h3:before {
    position: absolute;
    content: "";
    background: transparent
      linear-gradient(127deg, #029696 0%, #0253aa 49%, #a12ea5 100%) 0% 0%
      no-repeat padding-box;
    width: 100%;
    height: 8px;
    bottom: 12px;
    z-index: -1;
    border-radius: 20px;
    opacity: 0.7;
  }

  /*Testimonial */

  .testimonial {
    width: 90%;
    margin: auto;
  }

  .Testimonial-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
  }
  .clients {
    padding-top: 60px;
  }

  .ClientTestimonial {
    padding-top: 176px;
    padding-bottom: 184px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .testimonial h3 {
    padding-top: 100px;
    font-size: 32px;
    color: #474747;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    display: table;
    margin: 0 auto;
    z-index: 1;
  }
  .textimonial-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
  }
  .textimonial-text p {
    font-size: 18px;
    color: black;
    padding-top: 20px;
    text-align: center;
  }
  .textimonial-text h4 {
    font-size: 32px;
    color: #0253aa;
    padding-top: 20px;
    font-weight: 600;
    text-align: center;
  }

  .textimonial-text img {
    height: 43px;
    width: 49px;
    margin-bottom: 20px;
  }

  /* Suplier */
  .suplier {
    background-image: url("../images/doctor1.png");
    background-size: cover;
    background-position: center;
    padding: 20px 0;
  }

  .suplier h3 {
    padding-top: 30px;
    font-size: 32px;
  }
  .suplier h4 {
    padding-top: 8px;
    font-size: 18px;
  }

  .supplier-content {
    padding-top: 60px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .supplier-card {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 40px 10px;
    position: relative;
  }

  .library-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 95%;
    height: 450px;
    gap: 80px;
    margin-bottom: 40px;
  }
  .library {
    height: 230px;
    width: 220px;
    background-color: white;
    border: red;
    border-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: rotate(44deg);
  }

  /*Contact */
  .contact {
    position: relative;
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .contact-data {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 50px;
    width: 90%;
  }
  .contact-details {
    padding: 75px 0;
    color: white;
    max-width: 530px;
  }

  .form-container {
    background: white;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 75px 50px;
  }

  .name-row {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  /* footer */
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    color: white;
    width: 90%;
    padding-bottom: 100px;
  }

  .footer_logo {
    width: 100%;
  }
  .row-1 {
    display: flex;
    flex-direction: column;
  }
  .footer_linkedin {
    width: 10%;
  }
}
